.h100{
    height: 100px;
}
.w400{
    width: 400px;
}
.bg{
    background: #e0dbd8;
}
.border{
    border-radius: 10px;
}
.h200{
    height: 200px;
}
.w290{
    width: 290px;
}
.w100{
    width: 100px;
}
.marg{
    margin-top: 10px;
    margin-right: 10px;
}
.row{
    display: flex;
    flex-direction: row;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}