.h550  {
    height: 550px;

}
.w800 {
    width: 800px;
}
.bg--grey{
    background: #e0dbd8;
}
.h200  {
    height: 200px;

}
.hk200  {
    height: 200px;

}
.w750 {
    width: 750px;
}
.radius{
    border-radius: 10px;
}
.border{
    border:2px cyan solid;
}
.center{
    display: flex;
    justify-content: center;
}
.margin{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 13px;
}
.h10{
    height: 10px;
}
.w85{
    width: 85px;
}
.bg--blue{
    background: #102b3e;
}

.w15{
    width: 45px;
}
.marg--big{
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
.w170{
    width: 170px;
}
.h100{
    height: 100px;
}
.row{
    display: flex;
    flex-direction: row;
}
.h7{
    height: 7px;
}
.margin--frame{
    margin:5px 5px;
}
.h300{
    height: 300px;
}
.h200
{
    height: 200px;
}
.w200{
    width: 200px;
}
.kolo{
    border-radius: 120px;
}
.h10{
    height: 10px;
}
.w60{
    width: 60px;
}
.w30{
    width: 30px;
}
.h5{
    height: 5px;
}
.margin--small{
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 20px;

}