body{
    width: 600px;
    margin: 0 auto;
}
.header{
    background: #ced8e1;
    height: 60px;


}
.box--header{
    height: 30px;
    width: 80px;
    border-radius: 10px;
    background: #102b3e;
    margin-left: 10px;

}
.end{
    display: flex;
    justify-content: flex-end;

}
.small--txt--in--header{
    height: 5px;
    width: 30px;
    border-radius: 10px;
    background: #6964e2;
    margin: 5px 5px;

}
.big--txt--in--header{
    height: 8px;
    width: 45px;
    border-radius: 10px;
    background: #6964e2;
    margin: 20px 5px;
}
.bet{
    display: flex;
    justify-content: space-between;
}
.row{
    display: flex;
    flex-direction: row;
}
.block--after--header{
    width: 600px;
    background: #102b3e;
    height: 200px;
}
.block--margin{
    height: 80px;
    width: 170px;

    margin-left: 40px;
}
.title{
    width: 50px;
    height: 10px;
    background: #6964e2;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 10px;

}
.txt{

    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left:2px;

}
button{
    background: #6964e2;
    border-radius: 10px;
    margin-left: 30px;
}
.block--column--grey{
    background: #ced8e1;
    width: 600px;
    height: auto;
    display: flex;
    justify-content: center;


}
.box--title--column{
    background: #102b3e;
    height: 8px;
    width: 50px;

    margin-top: 10px;
    margin-left: 3px;
    margin-right: 5px;
    border-radius: 10px;
}
.box--for--big--photos{
    background: #6964e2;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.kubick{
    background: #6964e2;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 35px 5px;
}
.block--img{
    background: #6964e2;
    width: 150px;
    height: 100px;
    border-radius: 10px;
    margin-top: 10px;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.little--box{
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;


}
.block{
    width: 280px;

    height: auto;
}
.small--size{
    font-size: 12px;
    margin: 1px;
}
.block--next--with--pictures{
    background: #ced8e1;
    width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
}
.row-reverse{
    display: flex;
    flex-direction: row-reverse;
}
.big--picture{
    background: #6964e2;
    height: 200px;
    width: 280px;
    margin: 5px;
}
.small--picture{
    background: #102b3e;
    height: 200px;
    width: 200px;
    margin: 5px;
}
.row--rap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;
}
.block--about--person{
    width: 180px;
    height: 160px;

    display: flex;
    justify-content: center;

}
.kolo{
    width: 80px;
    height: 80px;
    border-radius: 60px;
    background: #6964e2;
}
.footer{
    background: #102b3e;
    width: 600px;

}
.block--first--footer{
    width: 300px;
    height: auto;
    margin: 1px 20px;

}
.block--column--footer{

    width: 70px;
    display: flex;
    align-content: center;

}

.text--footer{
    width: 30px;
    height: 5px;
    background: #6964e2;
    border-radius: 10px;
    margin-bottom: 10px;
}
.ff{

    display: flex;
    align-items: center;
    justify-content: center;
}