.h50 {
    height: 50px;
}

.w800 {
    width: 800px;
}

.bg--light--blue {
    background: #3ac6ea;
}

.end {
    display: flex;
    justify-content: flex-end;
}

.row {
    display: flex;
    flex-direction: row;
    row-gap: 5px;
}

.h10 {
    height: 10px;
}

.w40 {
    width: 40px;
}

.bg--blue {
    background: #102b3e;
}

.margin {
    margin-top: 30px;
    margin-right: 30px;
}

.radius {
    border-radius: 10px;
}

.h80 {
    height: 80px;
}

.bg--grey {
    background: #e0dbd8;
}

.h10 {
    height: 10px;
}

.w50 {
    width: 50px;
}

.h35 {
    height: 35px;
}

.w80 {
    width: 80px;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.margin--top {
    margin-top: 10px;
}

.h250 {
    height: 250px;
}

.text--title {
    font-size: 25px;
    font-style: oblique;
    display: flex;
    justify-content: center;


}

.text-paragh {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*margin: 1px 100px;*/
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.h550 {
    height: 550px;

}

.bg--grey {
    background: #e0dbd8;
}

.h200 {
    height: 200px;

}

.w750 {
    width: 750px;
}

.radius {
    border-radius: 10px;
}

.border {
    border: 2px cyan solid;
}

.center {
    display: flex;
    justify-content: center;

}

.margin {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 13px;
}

.h10 {
    height: 10px;
}

.w85 {
    width: 85px;
}

.bg--blue {
    background: #102b3e;
}

.w45 {
    width: 45px;
}

.marg--big {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.w170 {
    width: 170px;
}

.h100 {
    height: 100px;
}

.row {
    display: flex;
    flex-direction: row;
    row-gap: 10px;

}

.h7 {
    height: 7px;
}

.margin--frame {
    margin: 5px 5px;
}

.h300 {
    height: 300px;
}

.h200 {
    height: 200px;
}

.w200 {
    width: 200px;
}

.kolo {
    border-radius: 120px;
    margin: 5px 5px;
}

.h10 {
    height: 10px;
}

.w60 {
    width: 60px;
}

.w30 {
    width: 30px;
}

.h5 {
    height: 5px;
}

.margin--small {
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 20px;

}

.h150 {
    height: 250px;

}

.w250 {
    width: 250px;
}

.text {
    margin: 5px;
    font-size: 15px;
}

.w10 {
    width: 10px;
}

.bet {
    display: flex;
    justify-content: space-between;
}

.border--top {
    border-top: 1px cyan solid;
}

.around {
    display: flex;
    justify-content: space-around;
}

.h25 {
    height: 25px;
}

.w25 {
    width: 25px;
}

.col {
    display: flex;
    flex-direction: column;
}

.w350 {
    width: 350px;
}