@media screen and (max-width: 401px)
{
 .w800{
     width: 400px;
 }
    .w50{
      width: 25px;
    }
    .w750{
        width: 300px;

    }
    .h100{
        height: 50px;
    }
    .w85{
        width: 40px;
    }
    .margin{
        margin: 5px;
    }
    .w750{
        width: 350px;
    }
    .h200{
        height: 150px;
    }
    .hk200{
        height: 100px;
    }
    .w200{
        width: 100px;
    }
    .around{
        display: flex;
        flex-direction: column ;

    }
    .w350{
        width: 170px;
    }
}