@media screen and (min-width:300px) and (max-width: 400px) {
    body {
        width: auto;
    }

    .padd {
        padding: 1px 95px;

    }


    .row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

   }
}