@media screen and (min-width: 375px) and (max-width: 400px) {
    body {
        width: auto;
    }

    .block--after--header {
        width: auto;
    }

    .col {
        display: flex;

        justify-content: center;

        flex-wrap: wrap;
    }

    .block--next--with--pictures {
        width: auto;
    }

    .big--picture {
        width: 180px;
        height: 100px;
    }

    .small--picture {
        width: 100px;
        height: 100px;
    }

    .block--about--person {
        width: 120px;
    }

    .footer {
        width: auto;
    }

    .block--first--footer {
        width: 150px;
    }

    .block--column--footer {
        width: auto;
    }




.block--column--grey {

    width: auto;
    height: auto;

}

.block {
    width: 187px;


}

.box--for--big--photos {

    width: 165px;
    height: 145px;
    margin-left: 5px;
}

.txt {
    font-size: 12px;
}

.little--box {
    font-size: 8px;
}

}